<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="sb" class="com.yty.spring6.bean.SpringBean"/>

    <bean id="starBean" class="com.yty.spring6.bean.StarFactory" factory-method="get"/>

    <bean id="gunFactory" class="com.yty.spring6.bean.GunFactory"/>
    <bean id="gun" factory-bean="gunFactory" factory-method="get"/>

    <bean id="personBean" class="com.yty.spring6.bean.PersonFactoryBean"/>


    <!--inject Date type parameter-->
    <bean id="studentBean" class="com.yty.spring6.bean.Student">
        <!--simple data type: strict input format-->
        <!--<property realName="birth" value="Mon Oct 10 14:30:26 CST 2002"/>-->
        <!--not set as a simple data type-->
        <property realName="birth">
            <!--only can get current system time-->
            <bean class="java.util.Date"/>
        </property>
    </bean>


    <!--use DataFactoryBean-->
    <bean id="birthdayBean"  class="com.yty.spring6.bean.DateFactoryBean">
        <constructor-arg realName="strDate" value="1999-11-14"/>
    </bean>
    <bean id="studentBeanByFactory" class="com.yty.spring6.bean.Student">
        <property realName="birth" ref="birthdayBean"/>
    </bean>



</beans>