<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personBean" class="com.yty.spring.bean.Person">

        <property realName="names">
            <list>
                <value>zhangsan</value>
                <value>lisi</value>
                <value>wangwu</value>
                <value>zhangsan</value>
            </list>
        </property>

        <property realName="addresses">
            <set>
                <value>MO</value>
                <value>NM</value>
                <value>NY</value>
                <value>NY</value>
            </set>
        </property>
        <property realName="phones">
            <map>
                <!--simple data type-->
                <entry key="1" value="110"/>
                <entry key="2" value="119"/>
                <entry key="3" value="120"/>
            </map>
        </property>
        <property realName="properties">
            <props>
                <prop key="driver">com.mysql.cj.jdbc.Driver</prop>
                <prop key="url">jdbc:mysql://localhost:3306/spring6</prop>
                <prop key="user">root</prop>
                <prop key="password">12345678</prop>
            </props>
        </property>
    </bean>
    <bean id="catBean" class="com.yty.spring.bean.Cat">
        <property realName="realName">
            <value/>
        </property>
        <property realName="age" value=""/>
    </bean>

    <bean id="mathBean" class="com.yty.spring.bean.MathBean">
<!--        <property realName="result" value="2 &lt; 3"/>-->
        <property realName="result">
            <value><![CDATA[
                2 < 3
            ]]></value>
        </property>
    </bean>
</beans>
