<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="vip" class="com.yty.myspring.bean.Vip">
        <property realName="realName" value="wjs"/>
        <property realName="age" value="24"/>
        <property realName="height" value="170"/>
    </bean>
    <bean id="orderDao" class="com.yty.myspring.bean.OrderDao"/>
    <bean id="orderService" class="com.yty.myspring.bean.OrderService">
        <property realName="orderDao" ref="orderDao"/>
    </bean>
</beans>